:root {
	--web-page-font-family: "Raleway", sans-serif;
}

* {
	box-sizing: border-box;
	font-family: var(--web-page-font-family);
}

.xt-stdout {
	line-height: 1.25;
}

#terminal {
	font-family: var(--xt-font-family) !important;
	font-size: var(--xt-font-size) !important;
	font-variant-ligatures: contextual;
	height: calc(100vh - 325px);
	overflow-x: hidden;
	overflow-y: auto;
	border-radius: 7px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #1e1e1e;
	color: #f8f8f2;
	padding: 7px;
}

#terminal.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
	color: white;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	border: none;
}

.text-link {
	cursor: pointer;
	text-decoration: underline;
	color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
}

.text-link:hover {
	color: rgba(var(--bs-link-hover-color-rgb));
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.xt-cursor.xt-blink {
	animation: blink 2s ease-in-out infinite;
}

#terminal.paused {
	filter: saturate(0.2) brightness(0.9);
	opacity: 0.5;
	cursor: unset;
	user-select: none;
	transition: all 0.2s ease-in-out;
}

#terminal.paused:hover {
	opacity: 0.7;
}

#terminal.paused .xt-cursor {
	animation: none;
}

.full-transparent {
	opacity: 0 !important;
	cursor: unset !important;
}

.copy-button {
	cursor: pointer;
	opacity: 0.5;
	margin-right: 5px;
	user-select: none;
	transition: all 0.2s ease-in-out;
}

.copy-button:hover {
	opacity: 1;
}

.copy-link {
	cursor: pointer;
	text-decoration: underline;
}

/* pretty terminal scrollbar */

*::-webkit-scrollbar {
	width: 7px !important;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.2);
}

*::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.3);
}

.blink-border::-webkit-scrollbar-thumb {
	background: green !important;
}

.modal.show {
	backdrop-filter: saturate(0.2) brightness(0.9);
}
